extends layout

block content
	h1=title
	p Welcome to #{title}

	#wrapper
		div
			h2 Info
			p#info
				strong Date: 
				span(data-name='date')
				br
				Strong Name: 
				span(data-name='name')
				br
				Strong Price: 
				span(data-name='price')
				br
				Strong Payment Type: 
				span(data-name='paymentType')
				br
				Strong Desc: 
				span(data-name='desc')

		div
			h2 List
			table#list
				thead
					th Date
					th Name
					th Price
					th Delete?
				tbody

		div
			h2 Add
			fieldset#fieldset
				input(type='text', placeholder='date', data-name='date')
				input(type='text', placeholder='name', data-name='name')
				br
				input(type='text', placeholder='price', data-name='price')
				input(type='text', placeholder='paymentType', data-name='paymentType')
				br
				input(type='text', placeholder='desc', data-name='desc')
				br
				button#add(type='submit') Add


