extends layout

block content
	h1=title
	p Welcome to #{title}

	#wrapper
		div
			h2 Info
			p#info
				strong Date:
				span#date
				br
				Strong Name:
				span#name
				br
				Strong Price:
				span#price
				br
				Strong Payment Type:
				span#paymentType
				br
				Strong Desc:
				span#desc

		div
			h2 List
			table#list
				thead
					th Date
					th Name
					th Price
				tbody

		div
			h2 Add
			fieldset#add
				input#date(type='text', placeholder='date')
				input#name(type='text', placeholder='name')
				br
				input#price(type='text', placeholder='price')
				input#paymentType(type='text', placeholder='paymentType')
				br
				input#desc(type='text', placeholder='desc')
				br
				button#add Add


